@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body{
  font-family: 'Poppins',sans-serif;
}
.marquee-container {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  animation: marquee-scroll linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
  border:2px solid #0005;
  /* border-radius: 15px; Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #0005; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

.heart-icon {
  transition: transform 0.3s ease;
}

.heart-icon.animate {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.animate-drawer{
  animation: slide-up 0.5s ease-in;

}

.animate-controller {
  animation: slide-up 0.1s ease-in;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


.sound-bars {
  display: flex;
  align-items: end;
  gap: 4px;
  height: 20px;
  width: 32px;
}

.bar {
  width: 4px;
  background-color: #f1f5f9; /* green-500 */
  animation: pulse 1s infinite ease-in-out;
}

.bar1 {
  animation-delay: 0s;
}

.bar2 {
  animation-delay: 0.2s;
}

.bar3 {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%, 100% {
    height: 20%;
  }
  50% {
    height: 100%;
  }
}
